<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Decks" icon="ion-navicon" ui-sref="tab.decks">
        <ion-nav-view name="decks-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Deck" icon="ion-ios-albums" ui-sref="tab.deck">
        <ion-nav-view name="deck-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Card" icon="ion-university" ui-sref="tab.card">
        <ion-nav-view name="card-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="ion-gear-a" ui-sref="tab.settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
