"*":
  editor:
    fontSize: 12
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "language-todo"
      "linter-coffeescript"
      "linter-jsonlint"
      "linter-flake8"
    ]
  "exception-reporting":
    userId: "95b677a0-dd5e-13f8-96b1-35a26a66a99a"
  welcome:
    showOnStartup: false
  emmet: {}
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    showViolationMetadata: true
  "markdown-preview": {}
  "":
    coffee:
      source:
        editor:
          autoIndentOnPaste: true
  "todo-show":
    ignoreThesePaths: [
      "*/node_modules/"
      "*/vendor/"
      "*/bower_components/"
      "*/lib/"
    ]
    findTheseRegexes: [
      "FIXMEs"
      "/\\b@?FIXME:?\\s(.+$)/g"
      "TODOs"
      "/\\b@?TODO:?\\s(.+$)/g"
      "CHANGEDs"
      "/\\b@?CHANGED:?\\s(.+$)/g"
      "XXXs"
      "/\\b@?XXX:?\\s(.+$)/g"
      "IDEAs"
      "/\\b@?IDEA:?\\s(.+$)/g"
      "HACKs"
      "/\\b@?HACK:?\\s(.+$)/g"
      "NOTEs"
      "/\\b@?NOTE:?\\s(.+$)/g"
      "REVIEWs"
      "/\\b@?REVIEW:?\\s(.+$)/g"
    ]
    rememberViewSize: true
    openListInDirection: "down"
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    hangClosing: true
    maxLineLength: 80
  "linter-pylint":
    executable: "/usr/local/bin/pylint"
  "linter-xmllint":
    xmllintExecutablePath: "/opt/local/bin/xmllint"
  "linter-scss-lint": {}
