<ion-view hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item ui-sref="tabs.intro">View Introduction</ion-item>
      <ion-item ui-sref="tabs.about">About this app</ion-item>
      <ion-toggle toggle-class="toggle-positive" ng-model="settings.randomResponses">
        Randomize responses
      </ion-toggle>
      <ion-toggle toggle-class="toggle-positive" ng-model="settings.randomQuestions">
        Randomize questions
      </ion-toggle>
      <ion-item ui-sref="tabs.reset">Reset...</ion-item>
      <div>
        <div class="item item-divider">Sanskrit text</div>
        <ion-radio ng-model="devanagari" ng-value="false">&nbsp;&nbsp;Transliteration</ion-radio>
        <ion-radio ng-model="devanagari " ng-value="'only'">&nbsp;&nbsp;Devanagari</ion-radio>
        <ion-radio ng-model="devanagari " ng-value="'both'">&nbsp;&nbsp;Devanagari and Transliteration</ion-radio>
      </div>
      <x> hint percent not implemented yet
        <ion-item class="range range-positive" ng-model="settings.hintPercent">
          Hint percent
          <input type="range" value="50" min="0" max="100">
        </ion-item>
      </x>
    </ion-list>
  </ion-content>
</ion-view>
