<ion-view>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="group">
                    <div class="item-content">
                        Reset current deck
                    </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                    <div class="item-content">
                        Reset all decks
                    </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                    <div class="item-content">
                        Reset settings to defaults
                    </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
        <p>
            <strong>
                <font color="red">
                    Resetting a deck, which cannot be reversed, erases all record of the deck's usage.
                </font>
            </strong>
        </p>
        <div class="button-bar">
            <button class="button button-stable button-block" hide="{{ hideConfirm }}">
                Confirm
            </button>
        </div>
    </ion-content>
</ion-view>
