<ion-view view-title="Introduction">
    Something not in slider...
    <ion-slide-box>
        <ion-slide>
            <p>
                Some intro to using this app...
            </p>
        </ion-slide>
        <ion-slide>
            <p>
                This may be reviewed at any time with the Intro button of the Settings tab.
            </p>
            <button class="button button-stable button-block" ng-click="gotIt()">
                Got it!
            </button>
        </ion-slide>
    </ion-slide-box>
</ion-view>
